<div>
  <h1>Hi {{ name }}</h1>
  <form [formGroup]="userSearchForm">
  <div>
  <label for="name-search">Name </label>
  <input name="name-search" type="text" formControlName="nameSearch" placeholder="start typing a name" />
  </div>
  <div>
  <label for="shirt-size">Shirt Size </label> 
  <select name="shirt-size" formControlName="selectedSize">
    <option disabled value="">select one</option>
    <option *ngFor="let size of shirtSizes" [value]="size">
      {{size}}
    </option>
  </select>
  </div>
  <div>
  <label for="selectedGender">Gender </label> 
  <label><input name="selectedGender" type="radio" formControlName="selectedGender" value="Female" /> female</label>
  <label><input name="selectedGender" type="radio" formControlName="selectedGender" value="Male" /> male</label>
  </div>
  </form>
  <br />
  <div *ngIf="results && results.length > 50">You have over 50 matches, refine your search more.</div>
  <div *ngIf="results && results.length < 50">
    <ul>
      <li *ngFor="let person of results">{{ person | json }}</li>
    </ul>
  </div>
</div>